---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - B4LB3R1TH">
  <section class="py-28 max-w-[968px] mx-auto px-6 min-h-[50vh]">
    <h2 class="text-[var(--h1-font-size)] text-center text-[var(--title-color)] font-medium mb-12">About Us</h2>
    {/* Page content from original vanilla template is empty */}
  </section>
</Layout>
